.about-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    line-height: 1.5;
    //background-color: aqua;
    font-size: 26px;
}

.paragraph-title{
    color: #4c7d8a;
}
.side1{
    width: 100%;
    display: flex;
    flex-direction: column;
}
/*
.side2{
    width: 50%;
    display: flex;
    flex-direction: column;
}*/

.side1-content {
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
}
/*
.side2-content {
    margin-top: 1%;
    margin-left: 40%;
    margin-right: 5%;
}*/

.text-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;/* Change to 'row' for horizontal alignment */
    /* Vertically align content */
}


/* Adjust spacing between image and text */
.img-container {
    width: 70%;
}

.img-container .img-sty {
    width: 100%;

}

.text-container {
    flex: 1;
    margin-left: 10px/* Allow text to grow and fill available space */;
    line-spacing: 2px;

}



.paragraph-title {
    color: #4c7d8a;
    font-size: x-large;
}
/*
:host-context(.dark-theme) {
.paragraph-title{
    color: white;
    font-size: x-large;


}
a{
    color: white;
}
}
*/
.main-text{
    font-size: 20px;
}

.main-text {
    font-family: 'EnglishFont'; /* Default font family */
    padding-right:10%;
    padding-left: 10%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-right: 10%;

    margin-left: 10%;
    margin-bottom: 20px; /* Corrected margin property */
    background-color: #f0f0f0;
    direction: ltr; /* Default direction */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}
.main-text-arabic {
    direction: rtl; /* Right-to-left direction for Arabic */
    font-family: 'ArabicFont'; /* Font family for Arabic */
}
